.listItem-page{
    &-list{
        .am-list-item .am-input-label{
            color:#323334;
            font-size: 14px;
        }
        .am-list-item .am-input-control input{
            color:#C7C7CC;
            font-size: 14px;
        }
        .am-list-item .am-list-line .am-list-content{
            color:#323334;
            font-size: 14px;
        }
        .am-list-item .am-list-line .am-list-extra{
            color:#C7C7CC;
            font-size: 14px;
        }
    }
    &-button{
        margin-top:75px;
    }
  
}